
name: Deploy

#when should this action run
on:
  push:
    branches:
      - master # or the branch you want to deploy from

jobs:
  deploy:
    runs-on: ubuntu-latest # github will run bring up their own and runs on it 

    steps:
    - name: Checkout code #clone the code on the ubuntu machine of the github server
      uses: actions/checkout@v2

    - name: SSH and deploy
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }} # will get the ssh_private_key from gitgub secret and put it into env variable
      run: |
        echo "$SSH_PRIVATE_KEY">keyfile 
        chmod 600 keyfile
         mkdir -p ~/.ssh
        cp known_hosts ~/.ssh/known_hosts
        ssh -t -i keyfile ubuntu@ec2-15-206-90-146.ap-south-1.compute.amazonaws.com "sudo -E bash ~/deploy.sh"


 #echo "$SSH_PRIVATE_KEY" > keyfile # take that env variable and put it into a file 